@section link
    {

}

@using WebApplication.Shared
@model WebApplication.Models.Video

<div class="page-container">
    <div class="player-size"></div>

    <div class="single-column-watch-next-results-renderer">
        <ytm-companion-slot class="scwnr-content" data-content-type="result"></ytm-companion-slot>
        <div class="item-section-renderer">
            <lazy-list>
                <div class="slim-video-metadata-renderer">
                    <div class="slim-video-metadata-header">
                        <div class="slim-video-metadata-title-and-badges">
                            <div class="standalone-badge-supported-renderer top-standalone-badge">
                                <div class="standalone-collection-badge-renderer">
                                    <div class="badge standalone-collection-badge" data-type="STYLE_PLAIN">
                                        @foreach (var m in Model.Tags)
                                        {
                                            <a href="?search_query=@m">
                                                @m
                                            </a>
                                        }

                                    </div>
                                </div>
                            </div>
                            @*标题*@
                            <h2 class="slim-video-metadata-title">@(Model.Title)</h2>
                            @*标题*@

                        </div>
                        <c3-icon class="" role="button" aria-label="展开" aria-expanded="false" flip-for-rtl="false">
                            <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                            </svg>
                        </c3-icon>
                    </div>

                    <!--actions-->
                    <div class="slim-video-metadata-actions">

                        <!---->
                        <div class="material-button button-renderer compact " data-style="[object Object]"
                             data-icon-only="false" is-busy="false" aria-busy="false">
                            <button class="material-button-button" aria-label="与另外 @Model.VoteUp 人一起顶此视频"
                                    aria-pressed="false">
                                <div class="cbox">
                                    <c3-icon class="button-renderer-icon" flip-for-rtl="false">
                                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                            <path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-1.91l-.01-.01L23 10z"></path>
                                        </svg>
                                    </c3-icon>
                                    <div class="button-renderer-text">
                                        <span aria-label="@Model.VoteUp 人顶过">@(Model.VoteUp.FormatTimes())</span>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <!---->

                        <div class="material-button button-renderer compact " data-style="[object Object]"
                             data-icon-only="false" is-busy="false" aria-busy="false">
                            <button class="material-button-button" aria-label="与另外 @Model.VoteDown 人一起踩此视频"
                                    aria-pressed="false">
                                <div class="cbox">
                                    <c3-icon class="button-renderer-icon" flip-for-rtl="false">
                                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                            <path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v1.91l.01.01L1 14c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"></path>
                                        </svg>
                                    </c3-icon>
                                    <div class="button-renderer-text">
                                        <span aria-label="@Model.VoteDown 人踩">@(Model.VoteDown.FormatTimes())</span>
                                    </div>
                                </div>
                            </button>
                        </div>

                        <!---->

                        <div class="material-button button-renderer compact " data-style="STYLE_DEFAULT"
                             data-icon-only="false" is-busy="false" aria-busy="false">
                            <button class="material-button-button" aria-label="分享">
                                <div class="cbox">
                                    <c3-icon class="button-renderer-icon" flip-for-rtl="false">
                                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                            <path d="M14 9V5l7 7-7 7v-4.1c-5 0-8.5 1.6-11 5.1 1-5 4-10 11-11z"></path>
                                        </svg>
                                    </c3-icon>
                                    <div class="button-renderer-text">分享</div>
                                </div>
                            </button>
                        </div>


                    </div>
                    <!--actions-->
                    <!--Owner-->
                    <div class="owner">
                        <a class="owner-icon-and-title" href="?album=@Model.Album">
                            <div class="profile-icon owner-profile-icon">
                                <img class="profile-icon-img"
                                     src="">
                            </div>
                            <div>
                                <h3>@Model.Album</h3>
                                @*订阅数*@
                                <div class="subhead" hidden>1000</div>
                                @*订阅数*@

                            </div>
                        </a>

                    </div>
                    <!--Owner-->


                </div>
            </lazy-list>
        </div>


    </div>

</div>

<div id="player-container-id" class="player-container ">
    <div id="player" class="player-api player-size" initial-load="" playable="true" loading="false">
        <div class="html5-video-player unstarted-mode ytp-hide-controls ytp-hide-info-bar ytp-small-mode" tabindex="-1"
             id="movie_player" data-version="@Model.Url"
             aria-label="YouTube 视频播放器">
            <div class="html5-video-container" data-layer="0">
                <video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload"
                       @*data-width="@(Model.Width)"
                       data-height="@(Model.Height)"*@
                       style="left: 0px; top: -211px;"></video>
            </div>
            <button class="ytp-unmute ytp-popup ytp-button ytp-unmute-animated ytp-unmute-shrink" data-layer="2"
                    style="display: none;">
                <div class="ytp-unmute-inner">
                    <div class="ytp-unmute-icon">
                        <div class="ytp-icon ytp-icon-volume-muted-dark"></div>
                    </div>
                    <div class="ytp-unmute-text">点按取消静音</div>
                    <div class="ytp-unmute-box"></div>
                </div>
            </button>
            <div class="ytp-cued-thumbnail-overlay" data-layer="4" style="">
                <div class="ytp-cued-thumbnail-overlay-image"
                     style="background-image: url(../../videos/@Model.Cover);">
                </div>
                <button class="ytp-large-play-button ytp-button" aria-label="播放">
                    <div class="ytp-icon ytp-icon-large-play-button-hover"></div>
                </button>
                <div class="ytp-cued-thumbnail-overlay-duration">10:11</div>
            </div>
            <div class="ytp-spinner" data-layer="4" style="display: none;">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
                <div class="ytp-spinner-message" style="display: none;">如果稍后没有开始播放，请尝试重新启动设备。</div>
            </div>
            <div class="ytp-paid-content-overlay" aria-live="assertive" aria-atomic="true" data-layer="4">
                <div class="ytp-button ytp-paid-content-overlay-text" style="display: none;"></div>
            </div>
        </div>
    </div>
</div>

@section script
    {
    <script src="~/video.js"></script>

}