@model WebApplication.Models.Video


<form asp-action="@(ViewBag.CreateMode == null || ViewBag.CreateMode ? "Create" : "Edit")" method="post">
    @if (ViewBag.CreateMode != null && !ViewBag.CreateMode)
    {
        <div class="mb-3">@Html.LabelFor(Model => Model.Id) @Html.TextBoxFor(Model => Model.Id, new {@class = "form-control"})</div>
    }
    <div class="mb-3">@Html.LabelFor(Model => Model.Title) @Html.TextBoxFor(Model => Model.Title, new {@class = "form-control"})</div>
    <div class="mb-3">@Html.LabelFor(Model => Model.Url) @Html.TextBoxFor(Model => Model.Url, new {@class = "form-control"})</div>
    <div class="mb-3">@Html.LabelFor(Model => Model.Cover) @Html.TextBoxFor(Model => Model.Cover, new {@class = "form-control"})</div>
    <div class="mb-3">@Html.LabelFor(Model => Model.Thumbnail) @Html.TextBoxFor(Model => Model.Thumbnail, new {@class = "form-control"})</div>
    <div class="mb-3">@Html.LabelFor(Model => Model.Duration) @Html.TextBoxFor(Model => Model.Duration, new {@class = "form-control"})</div>
    <div class="mb-3">@Html.LabelFor(Model => Model.Width) @Html.TextBoxFor(Model => Model.Width, new {@class = "form-control"})</div>
    <div class="mb-3">@Html.LabelFor(Model => Model.Height) @Html.TextBoxFor(Model => Model.Height, new {@class = "form-control"})</div>
    <div class="mb-3">
        @Html.LabelFor(Model => Model.Tags)
        <input asp-for="Tags" class="form-control" value="@(Model != null ? string.Join(";", Model.Tags) : "")"/>
    </div>

    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">提交</button>
</form>